@model MvcAutenticacao.Models.Usuario

@{
    ViewData["Title"] = "Dados";
}

<h1>Dados</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserRole.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserRole.Nome)
        </dd>
    </dl>
</div>

